
input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

input[type="url"],
input[type="text"] {
	font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
	padding: 15px;
	padding-left: 30px;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	cursor: auto;
	user-select: text;
	-webkit-appearance: textfield;
}
