
li button.destroy {
	line-height: 0;
	background: none;
	border: none;
	display: none;
	position: absolute;
	top: 0px;
	right: 10px;
	box-sizing: border-box;
	width: 36px;
	height: 36px;
	margin: auto 0;
	font-size: inherit;
	color: #cc9a9a;
	transition: color 0.2s ease-out;
}

li button.destroy:after {
	content: '\1F5D9';
}

li:hover button.destroy {
	display: block;
}

li button.destroy:hover {
	color: #af0000;
}

#addBtn {
	position: absolute;
	right: 0;
    padding: 15px;
	min-width: 180px;
    color: #FFF;
	background: #555;
	font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

#addBtn:hover, #addBtn.errMsg {
    background-color: #FF0000;
}

input[type="url"] {
	border: none;
	width: 420px;
	padding: 15px;
	padding-left: 30px;
}
