
li button.destroy {
	line-height: 0;
	background: none;
	border: none;
	display: none;
	position: absolute;
	top: 0px;
	right: 10px;
	box-sizing: border-box;
	width: 36px;
	height: 36px;
	margin: auto 0;
	font-size: 16px;
	color: #cc9a9a;
	transition: color 0.2s ease-out;
}

li:hover button.destroy {
	display: block;
}

li button.destroy:hover {
	color: #af0000;
}

li button.destroy:after {
	content: '\1F5D9';
}



.listapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.listapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.listapp input[type="url"] {

	font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
	width: 420px;
	padding: 15px;
	padding-left: 30px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	cursor: auto;
	user-select: text;
	-webkit-appearance: textfield;
}

/* Style the "Add" button */
.addBtn {
	position: absolute;
	right: 0;
    padding: 15px;
	min-width: 180px;
    color: #FFF;
	background: #555;
	font-weight: bold;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover, .errMsg {
    background-color: 	#FF0000;
}
