body {
    margin: 1em auto;
    max-width: 50em;
    padding: 0 .62em;
}

img.logo {
    max-width: 24em;
    display: block;
    margin-left: 26em;
}

#trigger,
#trigger-list {
    color: darkred;
    text-decoration: underline;
}

#info {
    color: dimgrey;
}

#question {
    font-weight: bolder;
}

#submit {
    background-color: #A9A9A9;
    border: none;
    color: white;
    padding: 8px 24px;
    text-decoration: none;
    font-size: inherit;
    transition: 0.2s;
    display: inline;
}

#submit:hover {
    background-color: #2196F3;
    cursor: pointer;
}

#submit:disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
}

input {
    border: 2px solid #A9A9A9;
    min-width: 30em;
    max-width: 40em;
    padding: 6px;
}