.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	padding: 0;
	background: #A9A9A9;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
	border-left: thick solid rgba(0,0,0,0.2);

}

.header h1 {
	float: left;
	text-align: center;
	margin: 0;
    padding-left: 17px;
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
	color: #FFF;
	white-space: nowrap;
}

.header nav {
	float: right;
	font-size: 100%;
}

.header nav a {
    font-size: 18px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}
