html, body {
	background: #fff;
	font-family: 'Open Sans', 'Trebuchet MS', 'Verdana', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

* {
	box-sizing: border-box;
}

button {
	font-family: inherit;
}
