#app {
    font-size: 1.2em;
}

/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

#checkbox-widget {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
}

#checkbox-widget input[type="checkbox"] {
    display: none;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
#checkbox-widget:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#checkbox-widget input:checked ~ .checkmark {
    background-color: #2196F3;
    transition: .5s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
#checkbox-widget input:checked ~ .checkmark:after {
    display: block;
    animation: rotate-theL .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Style the checkmark/indicator */
#checkbox-widget .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

@keyframes rotate-theL {
    0% {
        opacity: 0;
        transform: translateZ(-200px) rotate(0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0) rotate(45deg);
    }
}
