
/*https://proto.io/freebies/onoff/*/
.onoffswitch {
    position: relative; width: 105px;
    -webkit-user-select:none;
    padding-left: 5px;
    padding-top: 3px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #E3E3E3; border-radius: 30px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.1s ease-out 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "active";
    padding-left: 10px;
    background-color: #2196F3; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "inactive";
    padding-right: 10px;
    background-color: #CCCCCC; color: #666666;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 30px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 3px; bottom: 0;
    right: 65px;
    border: 2px solid #E3E3E3; border-radius: 30px;
    transition: all 0.1s ease-out 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
