* {
	--headerHeight: 2.5rem;
}

.header {
	display: flex;
	align-items: center;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: var(--headerHeight);
	padding: 0;
	background: #A9A9A9;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
	border-left: thick solid rgba(0,0,0,0.2);
}

.header h1 {
	padding-left: 1rem;
	font-size: 200%;
	font-weight: bold;
	color: white;
	margin: 0;
}

.header nav {
	margin-left: auto;
	height: 100%;
}

.header nav a {
	line-height: var(--headerHeight);
	font-size: 125%;
	font-weight: 500;
	display: inline-block;
	padding: 0 15px;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: white;
	will-change: background-color;
	transition: 0.1s;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}
